* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #37227C/*#7C68BE*/
}

html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	height: 100%;
}

/*================Верх=============================*/

#top {
  width: 100%;
  height: 50px;
  background: #C3B6EE;
}
#top p {
  font-size: 25px;
  padding-top: 10px;
  padding-right: 20px;
  text-align: right;
}

/*================Обертка=============================*/

#wrapper {
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
  background-color: #ffffff;/*#E4DEF8*/
}

#wrapper .shift {
  margin-left: 254px;
}



/*================Контент=============================*/
.content {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  background: #EAE5FC;
  margin-bottom: 20px;
}

.content .bigHeader {
  background: #ffffff/*#E4DEF8*/;
  padding: 25px 10px 10px 10px;
}
.content h4{
  padding-bottom: 10px;
  padding-left: 10px;
}

.content button {
  padding: 5px 20px 5px 20px;
  border: 2px;
  border-radius: 2px;
  background: #C3B6EE
} 
.content button:hover { 
  background: #9E65BD;
  color: #EAE5FC; 
}
.content p {
  padding: 25px 10px 10px 10px;
}
.content div {
  padding: 25px 10px 10px 10px;
}
.content form {
  padding: 25px 10px 10px 10px;
}

.content form table tr td input{
  align-self: center;
}
.content li{
  padding: 25px 10px 10px 10px;
}
.content li a{
  color: #7C68BE ;
  text-decoration: none;
}
.content li a:hover{
  color: #9E65BD ;
}

.content .shift {
  margin-left: 254px;
}

.content table {
  border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
  border: 1px;
  width: 100%
}
.content td, th {
  border: 1px solid #7C68BE;
  padding: 5px; /* Поля вокруг текста */
 }
 .content .buttonColumn {
   width: 10%;
 }
 .content .buttonColumn button{
  padding: 5px;
}

.content form table {
  border-collapse: collapse; /*убираем пустые промежутки между ячейками*/
  border: 0px;
  width: 100%
}
.content form td, th {
    border: 0px; 
}
 .content form FIeldset {
  border-color: #37227C;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.content #saveButton {
  margin-left: auto;
  display: block;
}

/*================Низ=============================*/
#footer {
	margin: -40px auto 0;
  width: 100%;
  height: 40px;
  background: #C3B6EE;
  text-align: center;
}
#footer p {
  padding-top: 10px;
}
